
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@300;500;600&family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-decoration-style: none;
}
body{
    color: #FFFFFF;
    font-family: 'Fahkwang', sans-serif;
    background-color: #181719;
    height: 100%;    
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{
    height: 90px;
    width: 100%;
}
.nav{
    position: fixed;
    background-color: #181719;
    height: 90px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* background-color: rebeccapurple; */
    width: 100%;
}
.logo {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: inherit;
    padding-left: 80px;
    line-height: 90px;
}
.nav-menu{
    list-style: none;
    display: flex;
    margin-right: 70px;
    gap: 30px;

}
.nav-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: inherit;
    text-transform: uppercase;
    line-height: 90px;
    /* padding: 0.75em; */
    /* transition: text-decoration 0.5s; */
    transition: border-bottom 0.4s;

}
.nav-link:hover{
    color: #C29B61;
    border-bottom: 3px solid #C29B61;
    padding-bottom: 4px;
    /* text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px; */

}
.centro{
    height: calc(100%-90px);
    padding: 7% 6%;
    display: flex;
    /* display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr; */
    gap: 20px;
    /* justify-content: space-around; */
    padding-bottom: 80px;
}
h1{
    font-size: 48px;
    /* width: 365px; */
    /* margin: 1em 0em; */
}
.title{
    width: 100%;
    display: flex;
    gap: 2%;
    flex-direction: column;
    justify-content: center;

}
.description{
    font-size: 20px;
    font-weight: 300;

}
a{
    color: inherit;
}
img{
    /* height: 500px; */
    width: 100%;
}
.img{
    justify-content: flex-end;
}
.zoom{
    transition: transform 0.5s;
}
.zoom:hover{
    transform: scale(1.1);
}
.footer>p{
    font-size: 14px;
    color: #A9A9A9;
    text-align: center;
    padding: 0.5em 0em;
    /* position: relative;
    top: 20px; */
    position: absolute;
    bottom: 0;
    width: 100%;
}
.hamburguer{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 25px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:900px){    
    .nav-menu{
        margin-right: 20px;
        gap: 20px;
    }
    .nav-link{
        font-size: 15px;
    }
    h1{
        font-size: 35px;
    }
    .description,.more{
        font-size: 18px;
    }
}
@media screen and (max-width:700px){   
    .nav{
        flex-wrap: wrap;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        display: none;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .nav-menu.show{
        display: flex;
        background-color:#181719 ;
    }   
    .centro{
        display: flex;
        flex-direction: column;
        
    }
    .logo{
        font-size: 25px;
        padding-left: 30px;
    }
    .title{
        gap: 1em;
    }
    h1{
        font-size: 30px;
    }
    
    .hamburguer{
        display: block;
    }
}

